{margin: 3% 16px
    podding: 0% 24%
.cabecalho-imagem{width: 20%}
.cabecalho-lista-item{display: inline-block;margin:0% 16px}
.imagem-escola {width: 25%;}
.escola{background-image: linear-gradient(black, white(216, 13, 13);}
.cabecalho-lista-item{display: inline-block;margin: 0% 16%;
}
.escola{background-image: linear-gradient(black, white(216, 13, 13);}
